<html lang="pt-br">
    <head>
        <title>Serviços Company Conferi</title>
        <meta charset="utf-8">
        <link href="style/index.css" rel="stylesheet">
    </head>
    <body>
    <div class="cabecalho">
        <h1>Detrans</h1>
        <h2>método de utilização</h2>
    </div>
    <div class="conteudo">
        <p>Para consultar Detran DF use a configuração: <b>/DF?placa="ABC1234"&renavam="12345678910"</b></p>
        <p>Para consultar Detran MS use a configuração: <b>/MS?placa="ABC1234"&renavam="12345678910"</b></p>
        <p>Para consultar Detran MT use a configuração: <b>/MT?placa="ABC1234"&renavam="12345678910"</b></p>
        <p><a href="/">VOLTAR</a></p>
    </div>
    </body>
</html>