<html lang="pt-br">
    <head>
        <title>Serviços Company Conferi</title>
        <meta charset="utf-8">
        <link href="style/index.css" rel="stylesheet">
    </head>
    <body>
    <div class="cabecalho">
        <h1>Dívida ativa</h1>
        <h2>método de utilização</h2>
    </div>
    <div class="conteudo">
        <p>Para consultar Divida Ativa BA use a configuração: <b>/BA/"placa"/"renavam"</b></p>
        <p>Para consultar Divida Ativa RJ use a configuração: <b>/RJ/"placa"/"renavam"</b></p>
        <p><a href="/">VOLTAR</a></p>
    </div>
    </body>
</html>