<html lang="pt-br">
    <head>
        <title>Serviços Company Conferi</title>
        <meta charset="utf-8">
        <link href="style/index.css" rel="stylesheet">
    </head>
    <body>
    <div class="cabecalho">
        <h1>Api de serviços Company Conferi</h1>
        <h2>Serviços privados</h2>
    </div>
    <div class="conteudo">
        <p>Para acessar área de emissão para nota fiscal de serviços use: <a class="links" href="/notaFiscal">/notaFiscal</a></p>
        <p>Para acessar área dos Detrans: <a class="links" href="/detran">/detran</a></p>
        <p>Para acessar área das Dívidas atívas: <a class="links" href="/dividaAtiva">/dividaAtiva</a></p>
    </div>
    </body>
</html>